{% extends 'clean.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<h1>Admin Controller</h1>
	<p>
		<a class="btn btn-success" href="{{ path('admin_add_category') }}">Add category</a>
	</p>
{% endblock %}
